table, td, th {
  border: 2px solid #ddd;
  text-align: left;
  border-color: black;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

caption {
  display: table-caption;
  text-align: center;
  margin: 0.5em;
  font-weight: bold;
}